'.source.r3':
  'editor':
    'tabLength': 4
    'commentStart': '; '
    'increaseIndentPattern':'(?x)
    (?i:
      ^\\s*(for|select|while|do|__main_loop__|struct|struct_p|_?if|tabstr|function|\\$\\s*ifdef|\\$\\s*ifndef|rule|motion|aux|ref)\\s*\\S*$
    )'
    'decreaseIndentPattern':'(?x)
    (?i:
      ^\\s*(end_?for|end_?select|end_?while|end_do_while|END_MAIN_LOOP|end_?struct|_?else|end_?if|end_?tab|end_?fun|\\$\\s*endif|end_?rule|end_?motion|end_?aux|end_?ref)\\s*$
    )'
    'foldEndPattern': '(?x)
    (?i:
      ^\\s*(end_?for|end_?select|end_?while|end_do_while\\s*\\(.*\\)|END_MAIN_LOOP|end_?struct|end_?if|end_?tab|end_?fun|\\$\\s*endif|end_?rule|end_?motion|end_?aux|end_?ref)\\s*$
    )'
